<!DOCTYPE html>
<html>
  <head>
    <title>SURVEY</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta property="og:image" content="https://i.imgur.com/8d46cYV.png">
    <meta property="og:url" content="https://brandlessph.org" />

    <link rel="icon" type="image/jpg" href="icon.jpg">
  </head>
  <body>

    <form name="list_of_clicks" method="POST" data-netlify="true" hidden>

          <input required type="text" name="message"/>

          <input required type="text" name="name" />
          <button type="submit">Submit</button>
    </form>

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
